os: linux
language: csharp
solution: SharpPaste.sln
mono:
 - latest
 - 5.4.1
 - 5.2.0
 - 5.0.1
 - 4.8.1
 - 4.6.2
 - 4.4.2
#deploy:
#  - provider: script
#    script: ./Deployment/develop.sh
#    on:
#      branch: develop
#  - provider: script
#    script: ./Deployment/master.sh
#    on:
#      branch: master
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8800e363e8878f251a5c
    on_success: change
    on_failure: always
    on_start: never
    
