[Unit]
Description=SharpPaste Server
Wants=network.target
ConditionDirectoryNotEmpty=/var/www/sharppaste

[Service]
Type=simple
User=xsp
Group=xsp
ExecStart=/usr/bin/xsp4 --port 9000 --address 127.0.0.1 --nonstop --root=/var/www/sharppaste --applications=/:.
Restart=on-failure

[Install]
WantedBy=multi-user.target

